@import "mi-nav.css";
@import "mi-footer.css";
@import "listas.css";

:root {
  font-family: sans-serif;
  --col-active: #ffb347;
  /* Color de fila activa naranja */
  --color-header: #f59aa8;
  /* Color de fondo del encabezado rosado */
  --colorMiNav: #f59aa8;
  /* Color de fondo de la barra de navegación rosado */
}

body {
  max-width: 640px;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #fff7f6;
  /* Color de fondo blanco */
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--color-header);
}

.herramientas {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  align-content: flex-end;
  justify-content: flex-end;
  margin-top: 1rem;
  /* Aumentado el espacio superior */
  padding-bottom: 1rem;
  /* Aumentado el espacio inferior */
  gap: 1rem;
  /* Aumentado el espacio entre elementos */
}

header input {
  flex-grow: 1;
  padding: 10px;
  /* Ajustado el espaciado interno */
  border: 1px solid #f59aa8;
  /* Color del borde rosado */
  border-radius: 5px;
  /* Borde redondeado */
}

h1 {
  margin: 1rem 0;
  /* Aumentado el espacio alrededor del título */
}

figure img {
  max-width: 100%;
}

legend,
p label {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  /* Aumentado el tamaño de la fuente */
  margin-bottom: 0.5rem;
  /* Aumentado el espacio inferior */
}

p label>* {
  display: block;
  font-weight: normal;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5rem;
  /* Aumentado el espacio inferior */
}

/* Estilos para los recuadros de entrada */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  /* Aumentado el espacio vertical */
  box-sizing: border-box;
  border: 1px solid #f59aa8;
  /* Color del borde rosado */
  border-radius: 5px;
  /* Borde redondeado */
  background-color: #fff7f6;
  /* Color de fondo blanco */
}

/* Agregado estilo al pasar el ratón sobre los campos de entrada */
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  border-color: #ffb347;
  /* Color del borde naranja */
}